{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<section class="account profile" style="margin-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <legend>{{ _('Passwort zurücksetzen') }}</legend>
              <form method="post">
                  <fieldset>
                  {{ form.hidden_tag() }}
                  {{ render_field(form.new_password, placeholder=_('Neues Passwort')) }}
                  {{ render_field(form.confirm, placeholder=_('Neues Passwort wiederholen')) }}
                  <div class="form-actions">
                    <input type="submit" value="Speichern" class="btn btn-primary btn-lg" />
                    <a href="{{ url_for('account.profile', name=current_user.name) }}" class="btn btn-default">{{ _('Abbrechen') }}</a>
                  </div>
                  </fieldset>
              </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

