{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = project.short_name %}
{% set active_link = 'tasks' %}
{% set section = _('Import tasks') %}

{% block projectcontent %}
{% from "_formhelpers.html" import render_field, render_form %}
<section class="account update avatar">
                <h2>{{_('Projektbilder hochladen')}}</h2>
                <div>
                    <img id="uploadPreview" style="max-width: 100%">
                </div>
                <form method="post" action="{{ url_for('project.tasks', short_name=project.short_name) }}import/upload" enctype="multipart/form-data">
                    <fieldset>

                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <label for="question">Bitte Frage für die Bilder angeben:
                            <input type="text" name="question" required>
                        </label>
                        <br>
                        <label for="file">Bilder-Dateien
                            <input type="file" name="file" multiple required>
                        </label>
                        <br>
                        <label for="csv">CSV-Datei
                            <input type="file" name="csv" required>
                        </label>
                        <p>CSV-Datei darf keine Umlaute enthalten und muss in UTF-8 encodiert sein. ( Trennzeichen muss ; sein )</p>
                        <br>
                        <input type="submit" value="Dateien und Frage hochladen">
                    </fieldset>
                </form>
            </section>
{% endblock %}
