<footer>
    <div class="container-fluid scifabric">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4 col-md-offset-0 col-md-4 "> 
                    <p>Powered by</p>
                    <a href="http://pybossa.com/?utm_source=PYBOSSA%20new%20server&utm_medium=server&utm_campaign=PYBOSSA%20new%20server"><img alt="SciFabric Logo" class="logo_horiz" src="{{ url_for('static', filename='img/pybossa.svg')}}"></a>
                </div>
                <div class="col-sm-offset-2 col-sm-4 col-md-offset-0 col-md-2 col-lg-2">
                    <p><strong>Ressourcen</strong></p>
                    <p><a href="{{url_for('help.tos')}}">Nutzungsbedingungen</a></p>
                    <p><a href="{{url_for('help.cookies_policy')}}">Verwendung von Cookies</a></p>
                    <p><a href="https://www.kit.edu/datenschutz.php">Datenschutzbestimmungen</a></p>
                    <p><a href="{{url_for('help.license')}}">Lizensen</a></p>
                    <p><a href="https://github.com/goeleng/pybossa_2019">Pyboosa-Code</a></p>
                </div>
            </div>
        </div>
    </div> 
</footer>

